.mini_tata{
    color:#12cab0;
}
.mini_tata i{
    color:#12cab0;
}

section .container{
    padding-top:40px;
    padding-bottom:40px;
}
h3{
    font-size:20px;
    text-transform:uppercase;
    color:#5d5d5d;
    padding-bottom:15px;
}
h3:after{
    content:'';
    display:block;
    width:135px;
    height:3px;
    background: #6294d3;
    text-align:center;
    margin:0 auto;

}
#team .team-members,.lte-hide-title{
    text-align:center;
}
#team .team-members h6{
    text-align:justify;
}





.bg-theme-colored {
    background-color: #f5f5f5 !important;
}

.header-top .widget ul li:first-child {
    background: #d6d6d6;
}

.header-top .widget ul li:nth-child(even),.current-user {
    background: #e1e1e1;
}

.header-top .widget ul li:nth-child(3) {
    background: #eeeeee;
}
.header-top .widget ul li:hover {
    background: #6294d3;
}

.styled-icons.icon-white li a i,.styled-icons.icon-sm a i {
    color: #929292;
    font-size: 25px;
}
.header-top .widget .styled-icons i:hover{
    color: #fff;
}

.lang-switch{
    background:transparent!important;
}
.lang-switch a{
    color:#929292 !important;
}
.lang-switch a[href='#']{
    color:#dc0303 !important;
}




.header-middle .menuzord-brand span{
    z-index: -1;
}


.email{
    line-height: 44px;
    font-size: 18px;
}


.styled-icons.icon-sm a{
    height: 39px;
    width: 39px;
    line-height: 47px;
    margin: 0;
}

.search-form-wrapper form input{
    border-radius: 15px;
}

.bg-lighter {
    background:rgba(0,0,0,0) !important;
}
.menuzord-brand {
    color: #838383;
    padding-left:40px;
    font-family:sans-serif;
    text-transform:uppercase;
    position:relative;
}
.menuzord-brand.text-logo {
    padding-left:0px;
}


/*menu*/
.menuzord-menu > li {
    padding: 6px 0;
}
.menuzord-menu > li > a {
    padding: 0 16px;
}
.menuzord-menu ul.dropdown {
    top: 37px;
}

.menuzord.theme-colored .menuzord-menu > li > a{
    border-bottom: 4px solid transparent;
}

.menuzord.theme-colored .menuzord-menu > li:hover > a{
    background: white;
    color: black;
    border-bottom: 4px solid #6294d3;
}
.menuzord.theme-colored .menuzord-menu ul.dropdown li:hover > a{
    background-color: #6294d3 !important;
}
.menuzord{
    background: rgba(0,0,0,0);
}
.menuzord ul{
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}



hr{
    margin: 0;
}

.section-title .col-lg-6, h3, ul.list li:before {
    color: black;
}
.section-title h3{
    padding:0;
    padding-bottom:5px;
    margin:0;
}
.section-title .col-lg-6:nth-child(2){
    padding-top:20px;
    padding-bottom:30px;
    /* background: #d3b862; */
    /* border-right: 15px solid white; */
}

.owl-nav{
    visibility: hidden;
}

.course-single-item .course-details {
    position: relative;
    z-index: 10;
    height: 90px;
    margin-top: -90px;
    background: black;
    opacity: 0.7;
    color: white;
}

.course-single-item .course-thumb {
    position: relative;
    z-index: 1;
}
.course-top-part h4{
    color: white;
}

.feature-box{
    height: 162px;
    border: 12px solid rgb(0,0,0,0);
}
.feature-box img{
    margin-top: 10px;
}


.feature-box  .col-md-5 .col-md-7{
    margin-top: 10px;
    margin-left: -35px;
    font-size: 14px;
    font-family: "Segoe UI", serif;
}

.feature-box p{
    color: #6294d3;
}

.funfact i {
    color: #dfb859;
}

.funfact h5 {
    color: #7f7f7f;
}

.layer-overlay h3 {
    color: #6b6b6b;
}



.layer-overlay::before{
    background: white;
}

.text-theme-colored2 {
    color: #6294d3 !important;
}


.in-box-bg{
    padding: 40px;
    background: rgba(0, 0, 0, 0.6);
}

.icon-box.iconbox-theme-colored .icon.icon-gray.icon-bordered {
    border-color: #6294d3;
}

.icon-box i[class*="pe-7s-"] {
    color: #6294d3;
}

.in-box-bg h5{
    color: #6294d3;
    text-transform:uppercase;
}

.in-box-bg a {
    border-color: #6294d3;
    color: #6294d3;
}

.bg1{
    background: url("../images/bg/bg12.jpg");
    background-size: cover;
}

.bg2{
    background: url("../images/bg/african-american-applicant-holding-resume-job-interview-close-up-view_1163-46411.jpg");
    background-size: cover;
}

.bg3{
    background: url("../images/bg/0_XRzUOm1NsbRshE0O.jpg");
    background-size: cover;
}

.bg3{
    background: url("../images/bg/0_XRzUOm1NsbRshE0O.jpg");
    background-size: cover;
}

.bg4{
    background: url("../images/bg/elibraryshutterstock_250887517.jpg");
    background-size: cover;
}

.bg5{
    background: url("../images/bg/happy-teacher-with-students-background_1098-2917.jpg");
    background-size: cover;
}

.bg6{
    background: url("../images/bg/Depositphotos_133647694_ds.jpg");
    background-size: cover;
}

.bg7{
    background: url("../images/bg/wooden-desk-with-mouse_1134-197.jpg");
    background-size: cover;
}

.bg8{
    background: url("../images/bg/business-presentation-laptop-screen_53876-13516.jpg");
    background-size: cover;
}

.uzmap{
    background: url("../images/bg/uzbekistan-slide42.jpg");

}
#teams .team-bottom-part h4 {
    text-align:center;
}
.team-thumb img{
    height: 255px !important;
    width: 300px !important;
    border-radius:20px;
    border:2px solid #d3b860;
}
.team-thumb{
    padding-left:10px;
    padding-top:10px;
}

/*block ikt news */
.ikt-news .team-members{
    text-align:center;
}


.ikt-news .team-thumb{
    padding-left:0px;
}
.ikt-news .team-thumb img{
    border-bottom-right-radius: 0;
    border-bottom-left-radius:0;
    border-bottom:0;
    border:none;
}
.ikt-news .team-thumb + .team-bottom-part{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius:20px;
}



.more-bn{
    display:table;
    width:100%;
    vertical-align:bottom
}

.team-members .team-bottom-part {
    min-height: 100%;
}

.number-r{
    font-size: 40px;
    text-align: left;
    color: #6294d3;
}


.country-sites h3{
    color: #6b6b6b;
    margin-bottom: 50px !important;
}

.course-details a{
    color: white;
}

.btn-theme-colored2 {
    background-color: #ffffff;
    color: black;
    border-color: black;
}

.btn-theme-colored2:hover {
    background-color: #6294d3;
    border-color: #6294d3;
}

.line-bottom-theme-colored2:after{
    background: #6294d3;
}

.icon-theme-colored2.icon-dark a{
    background: #6294d3;
}

.icon-theme-colored2.icon-dark a:hover{
    background: #a7a7a7;
}

.bg-theme-colored2 {
    background: ##294d3 !important;
}

.pagination>.active>a {
    background-color: #d3b861;
    border-color: #d3b861;
}
.search_r{
    background-color: #d3b861;
}

.our-projects h3 {
    color: #6b6b6b;
}

.menuzord-brand span {
    width:300px;
    height:300px;
    top:-77px;
    left:-55px;
    position:absolute;
    display:block;
    /* background: url("../images/bg/grad-logo.png"); */
    background-repeat: no-repeat;
    background-size:100% 100%;


}

@media only screen and (max-width: 1200px) and (min-width: 990px)  {
    .team-thumb img {
        margin-right: 40px;
    }
}

/* .header-middle{
    padding-top: 15px !important;
} */
.section-title p{
    /*text-indent: 50px;*/
    line-height: 26px;
}

ul.list {
    text-indent: 36px;
    line-height: 26px;
}

.icon-box.iconbox-theme-colored .icon.icon-gray.icon-bordered:hover {
    background-color: #ffffff;
    border-color: #6294d3;
    color: #fff;
}

.icon-box  .btn:hover{
    color: #fff;
}

.search-form-wrapper form input[type="submit"]{
    height: 42px;
}



.newsList{
    background: rgb(0,0,0,0) !important;
}

.karta_block a{
    background: rgb(0,0,0,0) !important;
}
.karta_block p{
    text-indent:0;
}





footer .widget .styled-icons li i{
    color:#fff;
}

/*custom h1*/
.header-h1 {
    position: relative;
    margin-bottom: .5rem;
    text-align: center;
}
.header-h1 h1 {
    display: inline-block;
    background: #fff;
    margin-bottom: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: .5rem 1.5rem;
    border: .125rem solid #d3b861;
    color: #555555;
}
.header-h1 h1::after {
    content: "";
    position: absolute;
    background: #d3b861;
    height: .125rem;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    z-index: -999;
}



@media(max-width:993px){
    .search-form-wrapper form label {
        top: 111px;
    }
    #header{
        background-position-y:-0.8%;
    }
    .menuzord-brand {
        float:none !important;
        padding:0;

    }
    .menuzord-brand img {
        margin-top:20px;
    }
    .menuzord-brand span {
        margin-top:-30px;
        left:-95px;
    }
    .search-form-wrapper label{
        top:12px!important;
    }
    .dropdown-backdrop{
        display:none;
    }
    .menuzord-responsive .showhide{
        padding-top:10px;
    }
    .menuzord-menu .dropdown-toggle:hover{
        background:#c9c0ef !important;
    }
    .menuzord-menu ul li a{
        white-space:normal;
    }

    .header-middle .widget.sm-text-center {
        text-align:center;

    }


    .section-title{
        text-align:center;
    }
    .main-content .section-title .row > div {
        height: 100% !important;
    }

    #features .feature-box{
        text-align:center;
    }


    #bg-black-333 {
        text-align: center;
    }

    .karta_block p{
        margin-top:-30px;
    }

}

#accordion1{
    margin-top: 20px;
}

/* fix Ãƒâ€˜Ã‚ÂÃƒÂÃ‚ÂµÃƒâ€˜Ã¢â‚¬Å¡ÃƒÂÃ‚ÂºÃƒÂÃ‚Â° news */
.multi-row-clearfix .col-md-3:nth-child(4n + 5){
    clear:both;
}

/* custom arrow accordeon*/
.accordion .panel-content{
    padding-left:30px;
}
.accordion .panel-title:hover{
    background:#d3b860;
}
.accordion .panel-title:hover .hvr-arrow:before{
    color:red;
}
.hvr-arrow:before {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    float: left;
    display: block;
    min-height: 1.5em;
    font-family:FontAwesome;
    content: '\f107';
    padding:0 10px;
    color:#000;
}
.hvr-arrow.active:before{
    content: '\f106';
}

/* table style */
table {
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
}
table td {
    border:1px solid #d3b861;
    padding:3px;
}
table tr {
    display: table-row;
    background: #f6f6f6;
}
table tr:nth-of-type(odd) {
    background: #e9e9e9;
}
table tr:first-child {
    font-weight: 900;
    color: #ffffff;
    background: #ebdd63;
}
@media screen and (max-width: 580px) {
    table tr {
        padding: 14px 0 7px;
        display: block;
    }

    table tr td {
        margin-bottom: 10px;

    }
    table tr td:before {
        margin-bottom: 3px;
        content: attr(data-title);
        min-width: 98px;
        font-size: 10px;
        line-height: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #969696;
        display: block;
    }
}
@media (min-width:1024px){
    .number-r::after {
        content:'|';
    }
}
@media(max-width:768px){/*Ð°Ð´Ð°Ð¿Ñ‚Ð¸Ð²Ð½Ñ‹Ð¹ logo */
    .text-logo{
        display:block;
    }
    .section-title .col-lg-6:nth-child(2){
        border: 15px solid white;
        border-width: 0px 15px;

    }
    #team .owl-stage-outer{
        padding-left:15px;
    }
    .funfact div > div {
        text-align:center;
        margin-left:0;
    }
    #mailchimp-subscription-form-footer .input-group-btn{
        width:100%;
        padding:10px;
        display:inline-block;
    }

}
@media (max-width:1200px) and (min-width:994px){
    .menuzord-brand.text-logo{
        display:block;
        margin-top:1px !important;
        padding-left:180px !important;
        float:none;
        text-align:center;
    }
}
@media (max-width:993px) and (min-width:768px){
    .menuzord-brand.text-logo{
        padding-top: 10px;
        margin-left:0% ;
        float:both !important;
        position:absolute;
    }
}

/*perexod tablet fix*/
@media (max-width:768px) and (min-width:768px){
    .menuzord-brand.text-logo{
        position:absolute ;
        margin-left:30% !important;
        margin-top:-13% !important;
    }
}
.font-size-25 {
    font-size: 25px;
}

