
  .slide-container {
    width: 100%;
    height: calc(100vh - 120px);
    position: relative;
    text-align: center;
    
    overflow-x: hidden;
  }

 
  .slide-container input {
    position: absolute;  
    opacity: 0;
    margin-top: calc(100vh - 140px);
    cursor: pointer;
  }
  
 
  .slide-container label {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: solid 2px white;
    border-radius: 999px;
    background-color: transparent;
    margin: calc(100vh - 140px) 6px 0 6px;
    z-index: 2;
    cursor: pointer;
    transition-duration: .4s;
  }
  
 
  .slide-container input:checked + label{
    background-color: white;
  }
  
 
  .slide-container input:focus + label{
    box-shadow: 0 0 0 2px teal, 0 0 18px white;
  }
  
  .slide {
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: translateX(-100%);
    transition-duration: .4s;
    opacity: 1;
  }
  
 
  .slide-container input:checked ~ .slide {
    transform: translateX(100%);
  }
  

  .slide-container  input:checked + label + .slide {
    transform: translateX(0);
    opacity: 1;
  }
  
  .bg1{
    background-image: url('../images/s1.jpg');
    
  }
  .bg2{
    background-image: url('../images/sbg2.jpg');
  }
  .bg3{
    background-image: url('../images/sbg3.jpeg');
  }
  .bg4{
    background-image: url('../images/sbg4.jpg');
  }
  .bg5{
    background-image: url('../images/sbg5.jpg');
  }

  