
.rmap { padding-top: 20px; margin-bottom: 20px; padding-bottom: 20px; clear: both; background-color: #fff; }
.h22 { width: 100%; display: flex; justify-content: center; }
.h22 span { margin: 0; border-radius: 13px; padding: 10px; text-align: center; border: 1px solid #bec3c7; font-size: 18px; }
#vmap { width: 100%; height: 360px; padding: 10px 0; }
.rows .info { border-left: 1px solid #bec3c7; background: transparent; min-height: 340px; padding-top: 25px; display: flex; flex-direction: column; }
.viloyat { border-radius: 10px; padding: 20px; display: none; background: #5a5cf1; }
.viloyat a { color: #fff !important; }
.viloyat.active { display: block; color: #fff; margin-top: 10px; }
.viloyat h3 { margin-top: 0px !important; }

.rows a .box { height: 75px; margin: 16px 0; display: flex; color: #fff; }
.rows a .box img { width: 30%; height: auto; }
.rows a .box p { padding: 10px; background: url(../img/fern.png) no-repeat; background-size: cover; width: 100%; height: 100%; }

/* jQuery vmap */
.mapper { position: relative; z-index: 1; padding: 10px; }
.map_box { position: relative; background-image: url("../img/border_white.png"); background-size: 47px 100%; background-position: center center; background-repeat: no-repeat; margin-top: -10px; }
.mapBox { padding-left: 70px; position: relative; z-index: 1; }
.map_text { position: absolute; display: inline-block; top: 310px; left: -650px; font-family: "OpenSansRegular"; font-size: 15px; color: #000; width: 380px; height: 285px; line-height: 1.2; text-transform: none; }
.mapper path:hover { cursor: pointer; }
.map_map span { position: absolute; background-color: #5c5b4c; color: #fff; width: 100%; height: 55px; top: 0; left: 0; border-top-right-radius: 20px; border-top-left-radius: 20px; padding: 10px 20px; line-height: 1.3; font-family: "OpenSansRegular"; }
.mapLabels2, .jqvmap-label { position: absolute; /*display: none;*/
 background: #2cba2f; /*width: 450px; height: 250px;*/ line-height: 1; font-size: 16px !important; color: #fff; border-radius: 10px !important; margin: -10px 0 0 50px; /*right: 65px;*/
 padding: 10px; font-family: "OpenSansRegular"; }
.mini_map { position: relative; padding: 15px 0 0 5px; margin: 0 0 15px 0; }
.mini_map.mini_map2 { position: relative; left: 500px; }
.map_bg { width: 563px; height: 397px; position: absolute; top: 11px; left: -37px; display: block; }
.map_bg2 { display: none; }
.mapBoxTitle { position: relative; /*right: 55px;*/ font-size: 20px; font-family: "PTSans-Narrow"; color: #525252; text-transform: uppercase; text-align: center; padding: 0 0 20px 0; /*margin: 30px 0 0 0;*/ }
#vmap { transform: scale(1); }
