.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.second-element {
  flex-grow: 2;
  padding-left: 50px;
} 

.logo-container {
  display: flex;
  line-height: 18px;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}    

.header_widget {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  font-size: 14px !important;
}

.widget-icon-box a, .my-widget {
  font-size: 14px !important;

}

.my-widget {
  padding: 0 30px;
}

.myiconboxsubtitle {
  display: block;
  font-weight: 600;
  color: black !important;  
}
 .myiconbox__title {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    display: inline-block;
    font-size: 13px;
    color: #aaaaaa;
    font-weight: normal;
    margin: 0;
    letter-spacing: 0;
}

.myiconbox .fa {
  color: #e21f2f;
  margin-right: 3px;
}

.time-table {
  padding-left: 30px;
  padding-right: 30px;
  border-right: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
}

@media (max-width: 991px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
  }
  .second-element {
    flex-grow: 1;
    padding-left: 0px;
  } 
}

@media (max-width: 1100px) {
  .online-apply {
    display: none;
  }
}

@media (max-width: 900px) {
  .header_widget {
    flex-direction: column;
    justify-content: flex-start;
  }
  .my-widget {
    padding: 0 0 15px 0;
  }
}